* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #A80000;
}

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 90px;
  width: 100%;
  padding: 0 1rem;
}

.logo-teatro {
  display: block;
  height: 60px;
  width: auto;
}


.selecionado {
  color: #A80000;
  font-weight: 500;
}

#contenedor-cards {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-inline: 3rem;
}

.contenedor-card {
  cursor: pointer;
  display: flex;
  width: 320px;
  position: relative;
  border: none;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.contenedor-card:hover {
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.18);
}

.contenedor-card__imagen {
  width: 100%;
  height: auto;
}

.contenedor-card__imagen img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem 1rem 2rem 2rem;
}

.contenedor-card__texto {
  display: flex;
  border: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  height: auto;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.contenedor-card__texto-nombre {
  display: flex;
  text-transform: uppercase;
  height: 1rem;
  justify-content: center;
  align-items: center;
  font-family: proxima-nova, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  font-style: normal;
}

.contenedor-card__texto-fecha {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  height: 1rem;
  align-items: center;
}

.contenedor-card__texto-fecha-contenido {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.contenedor-card__texto-numero {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 28px;
  font-style: normal;
  color: #A80000;
}


.contenedor-compra {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 10rem;
}

.titulo-show {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-inline: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#selector-sectores {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-inline: 80px;
}

.plano,
.formulario-sector {
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.plano {
  display: flex;
  width: 30%;
  padding-left: 4rem;
  max-width: 100%;
  height: auto;
}

.formulario-sector {
  display: flex;
  justify-content: center;
}

.titulo-sector {
  padding-bottom: 2rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

#iconoSectores rect {
  stroke: #4C4C4C;
}

#iconoSectores.iconoActivo rect {
  stroke: #A80000
}

#iconoPago rect {
  stroke: #4C4C4C;
}

#iconoPago.iconoActivo rect {
  stroke: #A80000;
}

#contenedor-selecciones {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contenedor-opcion {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

#contenedor-selecciones__entradas {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.paso-activo-ini {
  border-bottom: 1px solid #A80000;
  border-radius: 0rem 0rem 0rem 1rem;
}

.paso-activo {
  border-bottom: 1px solid #A80000;
}

.paso-activo-final {
  border-bottom: 1px solid #A80000;
  border-radius: 0rem 0rem 1rem 0rem;
}



#contenedor-selecciones__sectores {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.seleccionado {
  border-top: 1px solid #A80000;
}

.contenedor-opcion img {
  width: 3rem;
}


.ocultar {
  display: none !important;
}

.titulo-entradas {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

.formulario-entradas {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.formulario-sector {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  display: flex;
}

fieldset {
  border: none;
  text-align: center;
}

.opciones {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.sectores {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}


.boton-sectores {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 80px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  border: 0.5px solid #dddddd;
  border-radius: 16px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.2s ease;
}

label {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.boton-entrada {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  border: 0.5px solid #dddddd;
  border-radius: 16px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease;
}

label span:hover {
  border-color: #A80000;
}

input[type="radio"]:checked+span {
  background-color: #A80000;
  color: #fff;
  border-color: #A80000;
}

input[type="radio"]:active+span {
  background-color: #A80000;
  color: #fff;
  border-color: #A80000;
}


#resumen-compra {
  max-width: auto;
  margin: 20px auto;
  margin-top: 4rem;
  padding: 3rem;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.05);
}

#resumen-compra h2 {
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
  padding-bottom: 8px;
  text-align: center;
  line-height: 1.4;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
}

#resumen-compra p {
  margin: 8px 0;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

#boton-confirmar {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 12px 0;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #A80000;
  border: 1px solid;
  border-color: #A80000;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}

#boton-confirmar:hover {
  color: white;
  background-color: #A80000;
}

#precio-entradas {
  text-align: center;
  margin-top: 2rem;
}

.contenedor-fecha {
  text-align: center;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.05);
  border: 1.2px solid rgba(0, 0, 0, 0.08);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.bloque-fecha {
  display: inline-block;
  white-space: wrap;
  margin-right: 0.25rem;
  color: #A80000;
}

@media (max-width: 576px) {
  .texto-show {
    height: auto;
  }

  .video-show {
    height: 45vh;
  }
}

@media (min-width: 576px) {
  .texto-show {
    height: auto;
  }

  .video-show {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .texto-show {
    height: auto;
  }

  .video-show {
    height: 55vh;
  }
}

@media (min-width: 992px) {
  .texto-show {
    height: 55vh;
  }

  .video-show {
    height: 80%;
  }
}

.boton-comprar {
  display: flex;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  border-style: none;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  background-color: #A80000;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.boton-comprar:hover {
  background-color: #8A0000;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.icono-ig-show {
  fill: black;
  transition: fill 0.3s ease;
}

.icono-ig-show:hover {
  fill: #A80000;
}

.icono-yt-show {
  stroke: black;
  transition: stroke 0.3s ease;
}

.icono-yt-show:hover {
  stroke: #A80000;
}

.icono-fb-show {
  stroke: black;
  transition: stroke 0.3s ease;
}

.icono-fb-show:hover {
  stroke: #A80000;
}

.icono-x-show {
  fill: black;
  stroke: black;
  transition: stroke 0.3s ease;
}

.icono-x-show:hover {
  stroke: #A80000;
  fill: #A80000;
}

iframe {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.sombra-card {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}

.texto-show {
  font-size: 18px;
  font-weight: 400;
}

.bi {
  width: 1em;
  height: 1em;
}

.boton-volver {
  display: flex;
  width: 40%;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  border-radius: 1rem;
  border-style: none;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  background-color: #A80000;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.boton-volver:hover {
  background-color: #8A0000;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.pasos-compra {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.contenedor-pasos {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
  will-change: transform;
}

.contenedor-pasos section {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
}

.metodo-pago {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.metodo-pago form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 1.5rem;
}

.opcion-pago {
  width: 100%;
}

.opcion-pago label {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  text-transform: uppercase;
  color: #212529;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}

.opcion-pago label:hover {
  border-color: #A80000;
}

.opcion-pago input:checked+label {
  border-color: #A80000;
  font-weight: bold;
  color: #A80000;
}

.btn-continuar {
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  background: #A80000;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-continuar:hover {
  background: #8A0000;
}

/* Contenedor de botones */
.swal2-actions {
  display: flex !important;
  gap: 10px;
  justify-content: center;
}

/* Estilo común para ambos botones */
.swal2-confirm,
.swal2-cancel {
  display: flex;                  /* Para centrar texto */
  justify-content: center;
  align-items: center;
  flex: 1;                        /* Ambos botones toman el mismo ancho */
  padding: 0.75rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 1rem;
  text-align: center;
  white-space: nowrap;            /* Evita que el texto se divida */
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 200px;               /* Garantiza un tamaño mínimo */
  max-width: 250px;               /* Opcional, evita que sea demasiado grande */
}

/* Confirmar */
.swal2-confirm {
  background-color: #fff !important;
  border: 2px solid #A80000 !important;
  color: #A80000 !important;
}

.swal2-confirm:hover {
  background-color: #A80000 !important;
  color: #fff !important;
}

/* Cancelar */
.swal2-cancel {
  background-color: #fff !important;
  border: 2px solid #888 !important;
  color: #888 !important;
}

.swal2-cancel:hover {
  background-color: #888 !important;
  color: #fff !important;
}

.swal2-popup {
  border-radius: 1rem;
}

.swal2-title {
  color: #252525;
}

.swal2-input{
margin: 0.5em 4em 0.5em;
}
